{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1> {{capitalizar 'node'}} JS</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, recusandae aut! Eos debitis unde nobis error quis. Perspiciatis facilis a cupiditate, minus animi expedita? At distinctio cum odit nostrum blanditiis?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/node.jpg" alt="" class="img-thumbnail">
        </div>
    </div>

{{> footer }}